@forward './variables.scss';

#app {
    min-height: 100%;
    display: flex;
    flex-flow: column;
}
  
html,
body {    
    min-height: 100vh;
    display: flex;
    accent-color: var(--accent-color);
}
html {
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
}

body {
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 0px, transparent calc(var(--bg-size) - 2px), var(--bg-color) calc(var(--bg-size) - 2px), var(--bg-color) var(--bg-size)),
                    linear-gradient(to right, transparent 0px, transparent calc(var(--bg-size) - 2px), var(--bg-color) calc(var(--bg-size) - 2px), var(--bg-color) var(--bg-size));
    // linear-gradient(to right, #ececec 50%, #fff 50%);
    background-size: var(--bg-size) var(--bg-size);
    color: var(--contrast-color);
    background-position: top left;
}

* {
    box-sizing: border-box;

    // Disable text selection
    // -webkit-user-select: none; /* Safari */        
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* IE10+/Edge */
    // user-select: none; /* Standard */
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 1280px;
    margin:auto; 
}

.svg-icon {
    display: block;
    fill: currentColor;
}

