@import './variables.scss';

.button {
    background-color: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 32px;
    background-color: var(--contrast-color);
    height: 36px;
    display: inline-block;
    align-items: center;
    padding: 0 32px;
    transition: $transitionFast;
    cursor: pointer;
    
    &.small {
        height: 28px;
        padding: 0 24px;
        font-weight: 300;
    }

    &.large {
        height: 48px;
        padding: 0 36px;
        border-width:2px;
        font-size: 24px;
    }
    

    &.c-accent {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--bg-color);
        &.ghost {
            color: var(--accent-color);
        }
    }
    
    &.c-blue {
        background-color: var(--blue);
        border-color: var(--blue);
        color: var(--bg-color);
        &.ghost {
            color: var(--blue);
        }
    }

    &.c-pink {
        background-color: var(--pink);
        border-color: var(--pink);
        color: var(--bg-color);
        &.ghost {
            color: var(--pink);
        }
    }

    &.c-red {
        background-color: var(--red);
        border-color: var(--red);
        color: var(--bg-color);
        &.ghost {
            color: var(--red);
        }
    }
    &.c-green {
        background-color: var(--green);
        border-color: var(--green);
        color: var(--bg-color);
        &.ghost {
            color: var(--green);
        }
    }

    &.ghost {
        border: 1px solid currentColor;
        background-color: transparent;
        color: var(--contrast-color);
    }
    
    &:hover {
        background-color: var(--contrast-color);
        border-color: var(--contrast-color);
        color: var(--bg-color);
        
        &.ghost {
            color: var(--bg-color);
        }

        &.c-blue {
            background-color: var(--bg-color);
            color: var(--blue);
            border-color: var(--blue);
            &.ghost {
                background-color: var(--blue);
            }
        }
        &.c-pink {
            background-color: var(--bg-color);
            color: var(--pink);
            border-color: var(--pink);
            &.ghost {
                background-color: var(--pink);
            }
        }
        &.c-red {
            background-color: var(--bg-color);
            color: var(--red);
            border-color: var(--red);
            &.ghost {
                background-color: var(--red);
            }
        }
        &.c-accent {
            background-color: var(--bg-color);
            color: var(--accent-color);
            border-color: var(--accent-color);
            &.ghost {
                background-color: var(--accent-color);
                color: var(--bg-color);
            }
        }
        &.c-green {
            background-color: var(--bg-color);
            color: var(--green);
            border-color: var(--green);
            &.ghost {
                background-color: var(--green);
            }
        }
        
    }
}