$red: #ef5327;
$orange: #f38508;
$yellow: #faec16;
$green: #04d60b;
$blue: #3c24ff;
$pink: #f3018e;
$black: #333;
$white: #fff;
$grey: #ccc;
$light-grey: #f5f5f5;

$textColor: $black;
$accentColor: #f3018e;
$primaryColor: $orange;
$failureColor: $red;
$successColor: #04d60b;

$defaultFont: monospace;
$accentFont: helvetica, sans-serif;

$transitionDefault: .64s ease all;
$transitionFast: .12s all linear;