:root {
    --red: #db4243;
    --orange: #f38508;
    --yellow: #faec16;
    --green: #04d60b;
    --blue: #3d24ff;
    --purple: #7f06b7;
    --pink: #f3018e;
    
    // --primary-bg-color: #030303;
    // --bg-color: #111;
    // --contrast-color: #fff;
    --primary-bg-color: #fafafa;
    --bg-color: #fff;
    --contrast-color: #222;

    --error-bg-color: #ffecf0;
    --success-bg-color: #ecffed;

    --accent-color: #f38508;
    --primary-color: #f3018e;
    --bg-size: 16px;

    --default-font: "Open sans", serif, "Helvetica", "Arial", "Verdana", sans-serif;
    --accent-font: "FixedSys", sans-serif;
    --transition-default: .64s ease all;
    --transition-fast: .12s all linear;
}

  
// var(--default-font): "Open sans", serif, "Helvetica", "Arial", "Verdana", sans-serif;
// var(--accent-font): "FixedSys", sans-serif;

// var(--transition-default): .64s ease all;
// var(--transition-fast): .12s all linear;