VITE_CLIENT_URL=
VITE_PAYLOAD_REST_ENDPOINT=
VITE_PAYLOAD_AUTH_COLLECTION=
VITE_PAYLOAD_SOCKET_ENDPOINT=

#Deployment
DEPLOYMENT_USER=<user>
DEPLOYMENT_HOST=<host>
DEPLOYMENT_PATH=/var/www/vite/<project>
MAX_BACKUPS=8